services:
  postgres:
    container_name: 'postgres'
    image: postgres:18
    restart: always
    environment:
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
    ports:
      - 5433:5432
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./_docker/db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - test-network

volumes:
  postgres_data:

networks:
  test-network:
