service: ff-ai-assistent
plugins: 
  - serverless-offline
useDotEnv: true


provider:
  name: aws
  runtime: nodejs20.x
  region: eu-central-1

functions:
  api:
    handler: dist/lambda.handler
    events:
      - httpApi:
          path: /{proxy+}
          method: ANY
      - httpApi:
          path: /
          method: ANY